certificate.pem**
keyValStore-*

# NPM Dependencies
node_modules

# IntelliJ
.idea

chaincodeID
/resources/emailCredentials
resources/emailCredentials
tmp/**
chaincodeIDLocalHost
tmp/keyValStore/**
sessions/**
